.main {
  position: relative;
  padding: 0px 10px;
  background-color: #000;
  height: 940px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_svg {
  position: absolute;
  max-width: 837px;
  right: 75px;
}

.main_content_wrap {
  position: absolute;
  top: 161px;
  left: 165px;
  z-index: 2;
  max-width: 912px;
}

.logo_name {
  color: blue;
}
.main_title {
  font-size: 65px;
}
.main_paragraph {
  font-size: 18px;
}

.main_content_action {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  gap: 30px;
}

.currency_wrap {
  max-width: 1920px;
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1366px) {
  .main_svg {
    max-width: 637px;
    right: 40px;
  }
  .main_content_wrap {
    max-width: 515px;
  }
  .main_title {
    font-size: 45px;
  }
  .main_paragraph {
    font-size: 14px;
  }
  .main {
    height: 760px;
  }
}
